<!DOCTYPE html>
<html>
<head>
  <title>Genset</title>
  <%= stylesheet_link_tag    "genset/application", media: "all" %>
  <%= javascript_include_tag "genset/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
